<div class="form">
    <div class="form-section">
        <label for="name">Nom de la region</label>
        <input type="text" pInputText id="name" [(ngModel)]="_request.nom" placeholder="eg: Analamanga">
    </div>
    <div class="form-section form-controll">
        <button pButton label="Annuler" class="p-button p-button-text" (click)="onReset()"></button>
        <button pButton label="Modifier" class="p-button p-button-outlined" (click)="onUpdate()" [disabled]="!formValid"></button>
    </div>
</div>