
<div class="grid container" *ngIf="_scientifiques">
    <div class="col">
        <div class="head">
            <i class="pi pi-search" searchIcon></i>
            <form (submit)="onSearch()">
                <input type="text" placeholder="Recherche..." [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" required>
            </form>
        </div>
        <div class="list">
            <div class="card" *ngFor="let scientifique of scientifiques" >
                <div>
                    {{scientifique.attributes.nom}}
                    {{scientifique.attributes.prenom}}
                </div>
                <button (click)="onAdd(scientifique.id)"
                pButton
                class="p-button p-button-text p-button-rounded"
                icon="pi pi-angle-right"
                >
                </button>
            </div>
        </div>
        <div class="page">
            <p-paginator [rows]="15" [totalRecords]="_scientifiques.meta.total" (onPageChange)="onPage($event)" *ngIf="!isSearching"></p-paginator>
        </div>
        
    </div>
    <div class="col-fixed"
    >
        <div class="drop" *ngIf="participations">
            <div class="card" *ngFor="let participation of participations">
                <div>
                    {{participation.attributes.scientifique}}
                </div>
                
                 <button (click)="onDelete(participation.id)" 
                 pButton
                 class="p-button p-button-text p-button-rounded p-button-danger"
                 icon="pi pi-trash"
                 >
                 </button>
            </div>
        </div>
    </div>
</div>