.title{
    font-size: 18pt;
    text-align: center;
    font-weight: 700;
    margin: .5rem 0;
}

.list{
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.controll{
    background-color: #ffffff;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
.controll button{
    width: 100%;
}

.list::-webkit-scrollbar {
    width: 7px;
}
  
.list::-webkit-scrollbar-thumb {
  background-color: var(--green-100);
}