<app-setting-list
    (create)="_isAddFormOpen = true"
    [parentState]="_state"
    [total]="sites ? sites.meta.total : 15"
    (pageChange)="onPage($event)"
>
    <span title>
        Sites
    </span>
    <div list>
        <app-list-item 
            *ngFor="let site of sites?.data" 
            buttonLabel="Sites"
            (delete)="onDelete(site.id)"
            (update)="onUpdate(site)"
            (info)="onInfo(site)"
        >
            <div content>{{site.attributes.nom}}</div>
        </app-list-item>
    </div>
    <div list class="placeholder" *ngIf="!_state.isLoading && sites?.data?.length == 0">
        Liste vide
    </div>
</app-setting-list>
<p-dialog [(visible)]="_isAddFormOpen" [modal]="true" header="Ajouter un site">
    <app-create-site (close)="_isAddFormOpen = false"></app-create-site>
</p-dialog>