<app-global-list
    [parentState]="_state"
    [_dialItems]="_dialItems"
    [total]="animals? animals.meta.total : 15"
    (pageChange)="onPage($event)"
    (search)="onSearch()"
>
<i class="pi pi-search" searchIcon></i>
<form (submit)="onSearch()" searchBar>
    <input type="text" placeholder="Recherche..." [(ngModel)]="_search" [ngModelOptions]="{standalone: true}" required>
</form>

<div rightHeader>
    <p-dropdown
    [options]="_attributes" 
    optionLabel="nom" 
    [(ngModel)]="_selectedAttribute" 
    placeholder="Selection un filtre"
    [ngModelOptions]="{standalone: true}"></p-dropdown>
</div>

<div cards class="grid" style="padding: 1rem;" *ngIf="animals">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let animal of animals.data">
        <app-cards 
        [id]="animal.id" 
        [isEditable]="false"
        [isDeletable]="authService.userIsAdmin || false"
        (delete)="onDelete(animal.id)"
        (info)="onInfo(animal)" >
            <div header *ngIf="authService.userIsAdmin">
                <p-checkbox name="selected" [value]="animal.id" [(ngModel)]="_selectedIds"></p-checkbox>
            </div>
            <div content>
                {{animal.attributes.nom_courrant}}
            </div>
            <div subtext>
                {{animal.attributes.categorie}}
            </div>
        </app-cards>
    </div>
</div>

<div cards class="placeholder" *ngIf="!_state.isLoading && animals?.data?.length ==0">
    <div>
        Aucun animal n'est encore disponible :(
    </div>
    <div style="font-size: 10pt; margin-top: 5px;">
        Essayez de modifier le filtre de recherche ou ajouter un animal
    </div>
</div>

</app-global-list>

<p-dialog [(visible)]="_isAddFormOpen" [modal]="true" header="ajouter un animal" [draggable]="false">
    <app-create-animal-form (close)="_isAddFormOpen = false"></app-create-animal-form>
</p-dialog>