:host{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.title{
    font-size: 18pt;
    text-align: center;
    font-weight: 700;
    margin: .5rem 0;
}
.list{
    height: 80%;
    overflow-y: scroll;
}
.controll{
    background-color: #ffffff;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
.controll button{
    width: 100%;
}
.list-item{
    padding: .5rem;
    margin: .5rem;
    border: solid .5px #f0f0f0;
    border-radius: 5px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.list-item.active{
    border: solid 1px var(--green-500);
    font-weight: 700;
    color: var(--green-500);
}
.list-item:hover{
    background-color: var(--green-50);
    box-shadow: 0px 3px 4px 0px rgb(86 86 86 / 21%);
}
.list::-webkit-scrollbar {
    width: 7px;
}
  
.list::-webkit-scrollbar-thumb {
  background-color: var(--green-100);
}