<div class="dock">
    <div>
        <div class="brand">
            Asity <span>DB</span>
        </div>
        <nav>
            <a [routerLink]="[ '/app/animal' ]" routerLinkActive="active">Animal</a>
            <a [routerLink]="[ '/app/suivi' ]" routerLinkActive="active">Suivi</a>
            <a [routerLink]="[ '/app/scientifique' ]" routerLinkActive="active">Scientifique</a>
            <a [routerLink]="[ '/app/settings' ]" routerLinkActive="active" *ngIf="authService.userIsAdmin">Paramettres</a>
            <a [routerLink]="[ '/app/test' ]" routerLinkActive="active">Test</a>
        </nav>
    </div>
    
    <button class=" p-button p-button-rounded p-button-outlined" pButton icon="pi pi-sign-out" label="Se deconnecter" (click)="onLogout()"></button>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
<p-confirmDialog
        rejectLabel="Annuler"
        rejectButtonStyleClass="p-button-text"
        acceptButtonStyleClass="p-button-outlined"></p-confirmDialog>