<app-global-list
    [parentState]="_state"
    [_dialItems]="_dialItems"
    [total]="suivis? suivis.meta.total : 15"
    (pageChange)="onPage($event)"
>
<div style="margin-top: .5rem;" searchBar>
    <label>Depuis: </label>
    <p-calendar [(ngModel)]="_filterDates.from" (onSelect)="onSearch()" inputId="from"></p-calendar>
    <label style="margin-left: 1rem;">Jusqu'a: </label>
    <p-calendar [(ngModel)]="_filterDates.to" (onSelect)="onSearch()" inputId="to"></p-calendar>
</div>

<div cards class="grid" style="padding: 1rem;" *ngIf="suivis">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let suivi of suivis.data">
        <app-cards [id]="suivi.id"
        [isDeletable]="authService.userIsAdmin || false" 
        (delete)="onDelete(suivi.id)"
        >
            <div header *ngIf="authService.userIsAdmin">
                <p-checkbox name="selected" [value]="suivi.id" [(ngModel)]="_selectedIds"></p-checkbox>
            </div>
            <div content>
               Suivi du {{suivi.attributes.default_date | date :'d, MMM y'}}
            </div>
            <div subtext *ngIf="suivi.attributes.first_localisation">
                a {{suivi.attributes.first_localisation.attributes.site}}
            </div>
        </app-cards>
    </div>
</div>

</app-global-list>

<p-dialog [(visible)]="_isAddFormOpen" [draggable]="false" [modal]="true" header="Ajouter une suivi">
    <app-create-suivi (close)="_isAddFormOpen = false"></app-create-suivi>
</p-dialog>