<app-global-list
    [parentState]="_state"
    [_dialItems]="_dialItems"
    [total]="scientifiques? scientifiques.meta.total : 15"
    [dialRadius]="140"
    (pageChange)="onPage($event)"
    (search)="onSearch()"
>
<i class="pi pi-search" searchIcon></i>
<form (submit)="onSearch()" searchBar>
    <input type="text" placeholder="Recherche..." [(ngModel)]="_search" [ngModelOptions]="{standalone: true}" required>
</form>

<div cards class="grid" style="padding: 1rem;" *ngIf="scientifiques">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let scientifique of scientifiques.data">
        <app-cards [id]="scientifique.id" 
        [isEditable]="authService.userIsAdmin || false" 
        [isDeletable]="authService.userIsAdmin || false" 
        (delete)="onDelete(scientifique.id)"
        (edit)="onUpdate(scientifique)">
            <div header *ngIf="authService.userIsAdmin">
                <p-checkbox name="selected" [value]="scientifique.id" [(ngModel)]="_selectedIds"></p-checkbox>
            </div>
            <div content>
                {{scientifique.attributes.nom}} {{scientifique.attributes.prenom}}
            </div>
            <div subtext>
                {{scientifique.attributes.specialite}}
            </div>
        </app-cards>
    </div>
</div>
<div cards class="placeholder" *ngIf="!_state.isLoading && scientifiques?.data?.length == 0">
    <div>
        Aucun scientifique n'est encore disponible :(
    </div>
    <div style="font-size: 10pt; margin-top: 5px;">
        Essayez de modifier le filtre de recherche ou créez un nouveau scientifique
    </div>
</div>
</app-global-list>

<p-dialog [(visible)]="_isAddFormOpen" [draggable]="false" [modal]="true" header="ajouter un scientifique">
    <app-create-scientifique-form (close)="_isAddFormOpen = false"></app-create-scientifique-form>
</p-dialog>