<div class="container" [ngClass]="active? 'active':''">
    <div class="grid">
        <div class="col" style="display: flex; align-items: center;">
            <a (click)="onSelect()">
                <ng-content #content></ng-content>
            </a>
        </div>
        <div class="col-fixed">
            <div class="p-inputgroup">
                <button pButton pRipple class="p-button-sm" (click)="onInfo()" *ngIf="haveInfo">
                    <i class="pi pi-fw pi-info-circle"></i>
                </button>
                <button pButton pRipple class="p-button-sm" (click)="onUpdate()" *ngIf="haveEdit">
                    <i class="pi pi-fw pi-pencil"></i>
                </button>
                <button pButton pRipple class="p-button-sm" (click)="onDelete()" *ngIf="haveDelete">
                    <i class="pi pi-fw pi-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>
