<div class="container" [ngClass]="active? 'active':''">
    <div class="grid">
        <div class="col" style="display: flex; align-items: center;">
            <a (click)="onSelect()">
                <ng-content #content></ng-content>
            </a>
        </div>
        <div class="col-fixed">
            <div>
                <button pButton pRipple class="p-button-sm p-button-rounded p-button-text p-button-secondary" (click)="onInfo()" *ngIf="haveInfo"
                icon="pi pi-fw pi-info-circle">
                </button>
                <button pButton pRipple class="p-button-sm p-button-rounded p-button-text p-button-secondary" (click)="onUpdate()" *ngIf="haveEdit"
                icon="pi pi-fw pi-pencil">
                </button>
                <button pButton pRipple class="p-button-sm p-button-rounded p-button-text p-button-danger" (click)="onDelete()" *ngIf="haveDelete"
                icon="pi pi-fw pi-trash">
                </button>
            </div>
        </div>
    </div>
</div>
