:host{
    height: 100vh;
    width: 100%;
    display: block;
}
.container{
    width: 82vw;
    margin-top: 1rem;
}

a{
    color: var(--green-500);
    &:visited{
        color: var(--teal-500);
    }
}

.number-input{
    width: 100%;
}