<div *ngIf="_parent">
    <table>
        <tr>
            <td class="title">Nom</td>
            <td class="value"> : {{_parent.attributes.aireProteger}}</td>
        </tr>
        <tr>
            <td class="title">Pays</td>
            <td class="value"> : {{_parent.attributes.pays}}</td>
        </tr>
        <tr>
            <td class="title">Abreviation</td>
            <td class="value"> : {{_parent.attributes.abreviation}}</td>
        </tr>
        <tr>
            <td class="title">Position</td>
            <td class="value"> : [ {{_parent.attributes.latitude}} , {{_parent.attributes.longitude}} ]</td>
        </tr>
    </table>
</div>
